@page "/williams"

<a class="manuf-logo">
    <img src="https://az732437.vo.msecnd.net/-/media/williamsf1/navigation/home-logos/racing-logo.ashx?revision=21e6c213-ab28-4498-937e-8433a2c7cc7b">
</a>



<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="box-item">
                <figure>
                    <img src="https://www.formula1.com/content/fom-website/en/drivers/george-russell/_jcr_content/image.img.1920.medium.jpg/1592913903576.jpg" />
                    <figcaption class="driver-details">
                        <h1 class="driver-number">63</h1>
                        <h2 class="driver-name">George Russell</h2>
                    </figcaption>
                </figure>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box-item">
                <figure>
                    <img src="https://www.formula1.com/content/fom-website/en/drivers/nicholas-latifi/_jcr_content/image.img.1920.medium.jpg/1592915764977.jpg" />
                    <figcaption class="driver-details">
                        <h1 class="driver-number">6</h1>
                        <h2 class="driver-name">Nicholas Latifi</h2>
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
</div>


<div class="manuf-picture">
    <img src="https://cdn.wallpapersafari.com/58/26/9hmqOL.jpg" class="img-fluid" alt="Responsive image" />
    <div class="top-left">
        <p>Current pos: 10th</p>
        <p>Points: 0</p>
        <p>Drivers: George Russel(ENG), Nicholas Latifi(CAN)</p>
    </div>

</div>

@code {

}
