@page "/"

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<!------ Include the above in your HEAD tag ---------->

<div class="container">
    <div class="row">
        <h2>News</h2>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-6 jasgrid">
            <div class="box-item">
                <div class="box-post">
                    <span class="label label-success">
                        <a href="#" rel="tag">Race</a>
                    </span>
                    <h1 class="post-title">
                        <a href="https://www.motorsport.com/f1/news/hamilton-flat-chat-british-gp/4848587/">
                            Lewis Hamilton wins with puncture with only 5 seconds faster than Verstappen
                        </a>
                    </h1>
                    <span class="meta">
                        <span><i class="glyphicon glyphicon-time"></i> Aug 2, 2020</span>
                    </span>
                </div>
                <img src="https://i2-prod.mirror.co.uk/incoming/article22457254.ece/ALTERNATES/s615/0_AUTO-F1-PRIX-GBR.jpg" alt="Lewis Hamilton wins with puncture with only 5 seconds faster than Verstappen"
                     class="">
            </div>

            <div class="box-item">
                <div class="box-post">
                    <span class="label label-success">
                        <a href="#" rel="tag">Feature</a>
                    </span>
                    <h1 class="post-title">
                        <a href="https://www.formula1.com/en/latest/article.trending-topics-will-hulkenberg-race-again-and-5-more-talking-points-ahead.2e4mVY8L2c0hnX2GPYWmpb.html">
                            HOT TOPIC: Will Hulkenberg race again?
                        </a>
                    </h1>
                    <span class="meta">
                        <span><i class="glyphicon glyphicon-comment"></i> <a href="http://wordpress.thebebel.com/showcase/newsbook/2015/01/19/meet-asias-best-destinations-for-the-summer/#respond">No Comments</a></span>
                        <span><i class="glyphicon glyphicon-time"></i> Aug 5, 2020</span>
                    </span>
                </div>
                <img src="https://www.formula1.com/content/dam/fom-website/manual/GreatBritain2020FIAPoolImages/Fri/GP2004_135647_U5I8828.jpg.transform/9col/image.jpg" alt="Why Palladio is the world's favourite 16th-century architect"
                     class="">
            </div>
        </div>
        <div class="col-md-6 jasgrid">
            <div class="box-item">
                <div class="box-post">
                    <span class="label label-success">
                        <a href="#" rel="tag">Race</a>
                    </span>
                    <h1 class="post-title">
                        <a href="https://www.motorsport.com/f1/news/verstappen-lucky-unlucky-british-gp/4848481/">
                            Verstappen feels "lucky and unlucky" after last-lap dramas
                        </a>
                    </h1>
                    <span class="meta">
                        <span><i class="glyphicon glyphicon-comment"></i> <a href="http://wordpress.thebebel.com/showcase/newsbook/2015/01/19/meet-asias-best-destinations-for-the-summer/#respond">No Comments</a></span>
                        <span><i class="glyphicon glyphicon-time"></i> Sep 15, 2015</span>
                    </span>
                </div>
                <img src="https://cdn-1.motorsport.com/images/amp/Y99nyQqY/s6/max-verstappen-red-bull-racing.jpg" alt="Lucky verstappen"
                     class="">
            </div>

            <div class="box-item">
                <div class="box-post">
                    <span class="label label-success">
                        <a href="#" rel="tag">Tech</a>
                    </span>
                    <h1 class="post-title">
                        <a href="#">
                            Why Apple shouldn’t be selling a 16GB iPhone 6S or 6S Plus
                        </a>
                    </h1>
                    <span class="meta">
                        <span><i class="glyphicon glyphicon-comment"></i> <a href="http://wordpress.thebebel.com/showcase/newsbook/2015/01/19/meet-asias-best-destinations-for-the-summer/#respond">No Comments</a></span>
                        <span><i class="glyphicon glyphicon-time"></i> Sep 15, 2015</span>
                    </span>
                </div>
                <img src="https://i.guim.co.uk/img/media/bbf4a7d1df33ad2604638c03787e7eb0e1f17394/0_149_3000_1800/master/3000.jpg?w=700&q=85&auto=format&sharp=10&s=3ecfcbb58d169db2a27a9718e4689b83" alt="Why Apple shouldn’t be selling a 16GB iPhone 6S or 6S Plus"
                     class="">
            </div>

        </div>


    </div>

</div> <!-- /container -->

@code {

}
