@page "/"

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<!------ Include the above in your HEAD tag ---------->

<div class="container">
    <div class="title-text">
        <p><h2 style="text-align:center">News</h2></p>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-6 jasgrid">
            <div class="box-item">
                <div class="box-post">
                    <span class="label label-success">
                        <a href="#" rel="tag">Race</a>
                    </span>
                    <h1 class="post-title">
                        <a href="https://www.motorsport.com/f1/news/hamilton-flat-chat-british-gp/4848587/">
                            Lewis Hamilton wins with puncture with only 5 seconds faster than Verstappen
                        </a>
                    </h1>
                    <span class="meta">
                        <span><i class="glyphicon glyphicon-time"></i> Aug 2, 2020</span>
                    </span>
                </div>
                <img src="https://i2-prod.mirror.co.uk/incoming/article22457254.ece/ALTERNATES/s615/0_AUTO-F1-PRIX-GBR.jpg" alt="Lewis Hamilton wins with puncture with only 5 seconds faster than Verstappen"
                     class="">
            </div>

            <div class="box-item">
                <div class="box-post">
                    <span class="label label-success">
                        <a href="#" rel="tag">Feature</a>
                    </span>
                    <h1 class="post-title">
                        <a href="https://www.formula1.com/en/latest/article.trending-topics-will-hulkenberg-race-again-and-5-more-talking-points-ahead.2e4mVY8L2c0hnX2GPYWmpb.html">
                            HOT TOPIC: Will Hulkenberg race again?
                        </a>
                    </h1>
                    <span class="meta"> 
                        <span><i class="glyphicon glyphicon-time"></i> Aug 5, 2020</span>
                    </span>
                </div>
                <img src="https://www.formula1.com/content/dam/fom-website/manual/GreatBritain2020FIAPoolImages/Fri/GP2004_135647_U5I8828.jpg.transform/9col/image.jpg" alt="Why Palladio is the world's favourite 16th-century architect"
                     class="">
            </div>
        </div>
        <div class="col-md-6 jasgrid">
            <div class="box-item">
                <div class="box-post">
                    <span class="label label-success">
                        <a href="#" rel="tag">Race</a>
                    </span>
                    <h1 class="post-title">
                        <a href="https://www.motorsport.com/f1/news/verstappen-lucky-unlucky-british-gp/4848481/">
                            Verstappen feels "lucky and unlucky" after last-lap dramas
                        </a>
                    </h1>
                    <span class="meta">
                        <span><i class="glyphicon glyphicon-time"></i>Aug 2, 2020</span>
                    </span>
                </div>
                <img src="https://cdn-1.motorsport.com/images/amp/Y99nyQqY/s6/max-verstappen-red-bull-racing.jpg" alt="Lucky verstappen"
                     class="">
            </div>

            <div class="box-item">
                <div class="box-post">
                    <span class="label label-success">
                        <a href="#" rel="tag">News</a>
                    </span>
                    <h1 class="post-title">
                        <a href="https://www.formula1.com/en/latest/article.breaking-valtteri-bottas-signs-new-deal-to-drive-for-mercedes-in-2021.5kdl5Krly4Y3Z1l6dCVJjy.html">
                            Valtteri Bottas signs new deal to drive for Mercedes in 2021
                        </a>
                    </h1>
                    <span class="meta">
                        <span><i class="glyphicon glyphicon-time"></i> Aug 3, 2020</span>
                    </span>
                </div>
                <img src="https://www.formula1.com/content/dam/fom-website/sutton/2020/Styria/Sunday/1255748484.jpg.transform/9col/image.jpg" alt="Why Apple shouldn’t be selling a 16GB iPhone 6S or 6S Plus"
                     class="">
            </div>

        </div>


    </div>

</div> <!-- /container -->

@code {

}
